<!DOCTYPE html>
<html lang="en">

<!-- Vista parcial del head -->
<%- include('../partials/head.ejs') %>
<body>
    
    <!-- Vista parcial del header -->
    <%- include('../partials/header.ejs') %>

    <br>
    <!-- Contenido principal -->
    <main>
        <!-- Productos --> 
        <pre>
            <code>
                <%= JSON.stringify(productos, null, 4) %>
            </code>
        </pre>
    </main>
    <br>
     <!-- Vista parcial del footer -->
     <%- include('../partials/footer.ejs') %>
</body>
</html>