<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main>
        <form id="crea-edit-product" action="/productos/crear" method="POST" enctype="multipart/form-data">
            <p id="pro-title">Añade un nuevo producto</p>
            <div class="name">
                <p>Nombre</p>
                <input name="title" id="title" placeholder="Nombre del producto" required>
            </div>
            <br>

            <div class="category">
                <p>Categoria</p>
                <input name="category" id="category" type="radio" value="tv"><span>TV</span> <br>
                <input name="category" id="category" type="radio" value="audio" checked><span>Audio</span><br>
                <input name="category" id="category" type="radio" value="cables"><span>Cables</span><br>
                <input name="category" id="category" type="radio" value="herramientas"><span>Herramientas</span><br>
                <input name="category" id="category" type="radio" value="smartphones"><span>Smartphones</span><br>
                <input name="category" id="category" type="radio" value="tablets"><span>Tablet</span><br>
                <input name="category" id="category" type="radio" value="computadoras"><span>Computadora</span>
            </div>
            <br>

            <div class="description">
                <p>Detalles</p>
                <textarea placeholder="Características del producto" name="description" required></textarea>
            </div>
            <br>
            <div class="description">
                <p>Descripción detallada</p>
                <textarea placeholder="Características del producto" name="detailedDescription" required></textarea>
            </div>
            <br>

            <div class="pro-img">
                <p>Imagen</p>
                <input type="file" accept=".jpg, .png, .PNG" name="img">
            </div>
            <br>

            <div class="price">
                <p>Precio Unitario</p>
                <input type="number" min="0" name="price" required> <span>$ MXN</span>
            </div>
            <br>

            <div class="quantity">
                <p>Cantidad</p>
                <input type="number" min="1" name="stock" required>
            </div>

            <div class="btts">
                <input type="submit" value="Añadir" id="submit">
                <input type="reset" value="Limpiar" id="clear">
            </div>

        </form>
    </main>

    <%- include("../partials/footer") %>
</body>
</html>