<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main>
        <form id="crea-edit-product">
            <p id="pro-title">Añade un nuevo producto</p>
            <div class="name">
                <p>Nombre</p>
                <input name="name" id="name" placeholder="Nombre del producto" required>
            </div>
            <br>

            <div class="category">
                <p>Categoria</p>
                <input name="category" id="category" type="radio" value="TV"><span>TV</span> <br>
                <input name="category" id="category" type="radio" value="Audio" checked><span>Audio</span><br>
                <input name="category" id="category" type="radio" value="Cables"><span>Cables</span><br>
                <input name="category" id="category" type="radio" value="Herramienta"><span>Herramientas</span><br>
                <input name="category" id="category" type="radio" value="Smartphone"><span>Smartphones</span><br>
                <input name="category" id="category" type="radio" value="Tablet"><span>Tablet</span><br>
                <input name="category" id="category" type="radio" value="Computadora"><span>Computadora</span>
            </div>
            <br>

            <div class="description">
                <p>Detalles</p>
                <textarea placeholder="Características del producto" required></textarea>
            </div>
            <br>

            <div class="pro-img">
                <p>Imagen</p>
                <input type="file" accept=".jpg, .png, .PNG">
            </div>
            <br>

            <div class="price">
                <p>Precio Unitario</p>
                <input type="number" min="0.1" required> <span>$ MXN</span>
            </div>
            <br>

            <div class="quantity">
                <p>Cantidad</p>
                <input type="number" min="1" required>
            </div>

            <div class="btts">
                <input type="submit" value="Añadir" id="submit">
                <input type="reset" value="Limpiar" id="clear">
            </div>

        </form>
    </main>

    <%- include("../partials/footer") %>
</body>
</html>