<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles</title>
    <!-- Importar iconos -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <!-- Contenedor de elementos del header  -->
        <div class="head-conteiner">
            <!--Contiene el logo-->
            <div class="main-img">
                <img src="/images/BigCommerce-logo-dark.svg" id="logo"> 
            </div>
            <!-- contiene la barra de búsqueda  -->
            <div class= "search-bar">
                <input type="text" placeholder="Buscar productos, marcas o categorias...">
                <i class="fas fa-search" id="search-i"></i>
            </div>

            <p class="acc-cart-icon">
                <i class="fas fa-user"></i>
                <i class="fas fa-shopping-cart"></i>
            </p>
        <!-- Mennu lateral  -->
        <i class="fas fa-bars" id="menu"></i>
        </div>
        <!-- Opciones de categoria -->
        <div class="menu-options">
            <ul>
                <li><a href="#">TV</a></li>
                <li><a href="#">Audio</a></li>
                <li><a href="#">Cables</a></li>
                <li><a href="#">Herramientas</a></li>
                <li><a href="#">Smartphones y Tablets</a></li>
                <li><a href="#">Computadoras</a></li>
            </ul>
        </div>
        <br>
    </header>
    <br>
    <section class="vistas">
        <div class="columna_vistas">
            <img src="/images/detalles de producto/c1.jpg" alt="vista1">
            <img src="/images/detalles de producto/c2.jpg" alt="vista2">
            <img src="/images/detalles de producto/c3.jpg" alt="vista3">
        </div>
        <div class="vista_principal">
            <img src="/images/detalles de producto/caldera.jpg" alt="Producto">
        </div>
    </section>
    <section class="info_compra">
        <div class="info_compra_header">
            <h2>NOMBRE DEL PRODUCTO</h2>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            
        </div>
        <br>
        <div class="info_pago">
            <div class="info_pago_izq">
                <form>
                    <select name="método_de_pago" id="">
                        <option name="método_de_pago" value="tarjeta_débito">Tarjeta de débito</option>
                        <option name="método_de_pago" value="tarjeta_crédito">Tarjeta de crédito</option>
                        <option name="método_de_pago" value="tarjeta_puntos">Tarjeta de puntos</option>
                        <option name="método_de_pago" value="tarjeta_PayPal">PayPal</option>
                    </select>
                    <br>
                    <br>
                    <Label for="cantidad">Cantidad de artículos</Label>
                    <input type="number" name="cantidad" id="cantidad"> <!--cambiar a un selector de números-->
                </form>
            </div>
            <div class="info_pago_der">
                <h1>$XXX MXN</h1>
                <div class="botones">
                    <button type="submit">Añadir al carrito</button>
                    <button type="submit">Comprar</button>
                </div>
            </div>
        </div>
    </section>
    <h2 class="Subt_relacionados">Relacionados</h2>
    <section class="relacionados">
        <article>
            <img src="/images/detalles de producto/caldera.jpg" alt="Producto">
            <h3>NOMBRE DEL PRODUCTO</h3>
            <h4>$XXX MXN</h4>
        </article>
        <article>
            <img src="/images/detalles de producto/caldera.jpg" alt="Producto">
            <h3>NOMBRE DEL PRODUCTO</h3>
            <h4>$XXX MXN</h4>
        </article>
        <article>
            <img src="/images/detalles de producto/caldera.jpg" alt="Producto">
            <h3>NOMBRE DEL PRODUCTO</h3>
            <h4>$XXX MXN</h4>
        </article>
        <article>
            <img src="/images/detalles de producto/caldera.jpg" alt="Producto">
            <h3>NOMBRE DEL PRODUCTO</h3>
            <h4>$XXX MXN</h4>
        </article>
    </section>
    <br>
    <section class="descripción">
        <div class="desc_derecha">
            <h2 class="subt_detalles_del_producto">DETALLES DEL PRODUCTO</h2>
            <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit ratione repudiandae vero eveniet fugiat nesciunt, quod eaque nisi? Labore modi alias eius optio odio tenetur, quod debitis sunt asperiores quidem!</h4>
            <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam eveniet, laboriosam, soluta temporibus deserunt error hic dolorum consequuntur sint voluptates minima, distinctio expedita quo. Quidem odio cupiditate tenetur aperiam est?</h4>
        </div>
        <div class="desc_izquierda">
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime amet, quidem adipisci deleniti velit quos officiis quae eum recusandae, sed optio laudantium nihil eveniet soluta illo exercitationem saepe laborum cupiditate!</h4>
            <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit consequuntur suscipit, molestias dolor recusandae impedit beatae aspernatur quos numquam repellendus dolorem odio blanditiis molestiae. Itaque quibusdam error ipsa non odio.</h4>
        </div>
        

    </section>
    <!-- pie de página -->
    <footer>
        <h3>MarcaTienda</h3>
        <br>
        <!-- Opciones del footer-->
        <div class="options-footer">
            <ul>
                <h4>¿Quiénes Somos?</h4>
                <br>
                <li><a href="#">Sobre nosostros</a></li>
                <li><a href="#">Términos y condiciones</a></li>
                <li><a href="#">Políticas</a></li>
                <li><a href="#">Formas de pago</a></li>
            </ul>
            <ul>
                <h4>Contacto</h4>
                <br>
                <li><a href="#">55 555 555</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
        </div>
        <br>
        <div class="rights-reserve">@Todos los derechos reservados</div>
    </footer>
</body>
</html>