<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Importar iconos -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <!-- Contenedor de elementos del header  -->
        <div class="head-conteiner">
            <!--Contiene el logo-->
            <div class="main-img">
                <img src="/static/Images/BigCommerce-logo-dark.svg" id="logo"> 
            </div>
            <!-- contiene la barra de búsqueda  -->
            <div class= "search-bar">
                <input type="text" placeholder="Buscar productos, marcas o categorias...">
                <i class="fas fa-search" id="search-i"></i>
            </div>

            <p class="acc-cart-icon">
                <i class="fas fa-user"></i>
                <i class="fas fa-shopping-cart"></i>
            </p>
        <!-- Mennu lateral  -->
        <i class="fas fa-bars" id="menu"></i>
        </div>
        <!-- Opciones de categoria -->
        <div class="menu-options">
            <ul>
                <li><a href="#">TV</a></li>
                <li><a href="#">Audio</a></li>
                <li><a href="#">Cables</a></li>
                <li><a href="#">Herramientas</a></li>
                <li><a href="#">Smartphones y Tablets</a></li>
                <li><a href="#">Computadoras</a></li>
            </ul>
        </div>
        <br>
    </header>
    <br>
    <br>



    <!-- Contenido principal -->
    <main>
       
        <section class="productoDeCarrito">
            <img src="/static/Images/BigCommerce-logo-dark.svg" id="logo">
            <p class="nombreProducto">NOMBRE DEL PRODUCTO</p>
            <P class="detallesProducto">DETALLES DEL PRODUCTO</P>
            <p class="cantidadProducto">CANTIDAD</p>
            <p class="precioProducto"> $5,999MXN</p>
            <span class="eliminarProducto">Eliminar</span> 
        </section>
    </main>



    <br>
    <!-- pie de página -->
    <footer>
        <h3>MarcaTienda</h3>
        <br>
        <!-- Opciones del footer-->
        <div class="options-footer">
            <ul>
                <h4>¿Quiénes Somos?</h4>
                <br>
                <li><a href="#">Sobre nosostros</a></li>
                <li><a href="#">Términos y condiciones</a></li>
                <li><a href="#">Políticas</a></li>
                <li><a href="#">Formas de pago</a></li>
            </ul>
            <ul>
                <h4>Contacto</h4>
                <br>
                <li><a href="#">55 555 555</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
        </div>
        <br>
        <div class="rights-reserve">@Todos los derechos reservados</div>
    </footer>
</body>
</html>