* { /* Normalizacion*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}
/*********** Header ************/
header{
    background-color: rgb(42, 123, 216);
}

#logo{ /*Imagen de logo*/
    width: 200px;
    height: 80px;
}

/*Barra de búsqueda*/
.search-bar{  
    margin: auto;
    text-align: center;
    width: 350px;
}
.search-bar #search-i{
    font-size: 90%;
    color: black;
    background-color: white;
    padding: 4px;
    height: 100%;
}

.search-bar input{
    font-size: 90%;
    color: black;
    padding: 2px;
    width: 220px
}

/*Menu para smartphones*/
#menu{
    font-size: 100%;
    color: black;
    background-color: white;
    padding: 4px;
    width: 40px;
    height: 100%;
    margin-left: 5px;
    text-align: center;
    border-radius: 5px;
}

.main-img{
    text-align: center;
}

/*Menu pra tablets y pc*/
.menu-options{
    display: none;
}
.menu-options ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-options a{
    text-decoration: none;
    color: #222222;

    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}
/* Icono de cuenta y carrito*/
.acc-icon{
    width: 40px;
    text-align: center;
}
.acc-icon i{
    font-size: 100%;
    color: white;
    margin-right: 5px;
}
/****/
.acc-cart-icon{
    display: none;
}
.acc-cart-icon{
    margin-top: 25px;
    margin-right: 20px;
}
.acc-cart-icon i{
    font-size: 35px;
    color: white;
    margin-right: 15px;
}
/*********** Header ************/


/*********** Footer ************/

footer{
    background-color: red;
}
img{
    width: 100%;
}
.options-footer{
    display: flex;
    justify-content: space-around;
}
.options-footer ul{
    list-style: none;
    margin: 0px;
    padding: 0;
}

.rights-reserve{
    margin-left: 10px;

}
/*********** Fin Footer ************/


/****************** Conteido Principal ******************/
body{
    background-color: #aab6adb4;
    font-family: 'Roboto Mono', monospace;
}
.content-instalations{
    padding: 25px;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
}

.content-instalations img{
    width: 100%;
}


.content-product{
    padding: 25px;
    background-color: white;
    margin:10px;
    border-radius: 5px;
}
.content-product img{
    width: 100%;
}

h2,h3,h4{
    padding-left: 20px;
}

/*detalles del producto*/
.vistas{
    margin: 0;
    display: flex;
    position: relative;
}
.columna_vistas{ /*cambiar a display flex en otro breakpoint*/
    display: none; 
    flex-direction: column;
    width: 10vh;
    height: 30vh;
    margin-left: 2%;
}
.columna_vistas img{
    height: 30%;
    margin-bottom: 10px;
}
.vista_principal {
    display: flex;
}
.vista_principal img{
    margin: auto;
    width: 70%;
    height: 80%;
    top: 15px;
    right: 15px;
}
.stars{
    padding-left: 5px;
}
.stars i{
    margin-left: -5px;
}
.info_compra{
    display: flex;
    flex-direction: column;
}
.info_compra_header{
    justify-content: start;
}
.info_compra_header h2{
    padding: 0;
    text-align: left;
    font-size: 10px;
}
.info_compra_header img{
    width: 90px;
    height: 4vh;
}
.info_pago{
    display: flex;
}
.info_pago_der{
    width: 100%;
}
.info_pago_der h1{
    text-align: center;
}
.info_pago_der .botones{
    display: flex;
    flex-direction: column;
}
.Subt_relacionados{
    margin-top: 5px;
    margin-bottom: 5px;
}
.relacionados{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    height: 200px;
    justify-content: space-around;
}
.relacionados article{
    box-sizing: border-box;
    width: 25%;
    background-color: #3A5683;
}
.relacionados article h3{
    padding: 0;
    font-size: 11px;
    text-align: left;
}
.relacionados article img{
    height: 50%;
    padding: 1px;
}
.relacionados article h4{
    color: red;
    font-size: 20px;
    text-align: right;
    margin-top: 17%;
}
.descripción{
    display: flex;
}

/*** Formulario de registro **/
#register-form{
    background-color: white;
}

#register-form{
    padding-left: 10%;
    margin-top: 25px;
    padding-top: 30px;
}
#register-form input{
    margin-bottom: 10px;
}

#register-form label{
    font-size: 18px;
    color: black;
    font-weight: bold;
}

#register-form .email input, .first-name input, .last-name-pat input, .last-name-mat input{
    padding: 7px 10px;
    width: 40%;
}

#register-form .fecha-nac input{
    padding:  7px 10px;
}
#register-form .address {
    margin-bottom: 10px;
}
#register-form .address textarea{
    width: 40%;
}

#register-form .profile {
    margin-bottom: 10px;
}

#register-form .password input{
    padding: 7px 10px;
    width: 40%;
}

#register-form .password {
    margin-bottom: 20px;
}

#register-form .btts input{
    width: 150px;
    margin-right: 25px;
    border-radius: 3px;
    background-color: rgb(0, 105, 153);
    color: white;
    padding: 6px 6px;
    border-radius: 5px;
}
#register-form  input:focus{ 
    background-color: rgb(223, 223, 223);
    color: black;
}

/*** Carrito **/
.productoDeCarrito{
    background-color:yellow;
    text-align: center;
    margin-bottom: 5px;
}

.carritoImagen,.carritoDetalles,.carritoPrecio{
    display: inline-block;
    width: 32%;
}
.nombreProducto{
    font-weight: bold;
}
 .detallesProducto{
text-decoration: underline;
 }
.cantidadProducto{

}
.precioProducto{
color:red;
}
.eliminarProducto{
    background-color: red;
}


/**********   Media queries            *********/
/* Version de Tablet ó Smartphone acostado*/
@media(min-width: 768px){
    .head-conteiner{
        display: flex;
        justify-content: space-between;
    }
    #menu{
        display: none;
    }
    .main-img img{
        width: 400px;
        max-width: 450;
    }
    .search-bar {
        
        max-width: 250px;
    }
    .menu-options{
        display: flex;
        justify-content: space-between;
    }
    .menu-options ul{
        display: flex;
    }
    .menu-options li{
        margin: 0 2vw;
    }
    #logo{
        max-width: 200;
    }
    .acc-cart-icon{
        display: block;
    }
    /** Instalaciones **/
    #section-instalations{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .content-instalations{
        width: 45%;
    }

    /*** Products ***/
    #sections-products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .content-product{
        width: 45%;
    }

    /*** Search Bar ****/
    .search-bar{
        width: 350px;
        max-width: 400px;
        text-align: left;
    }
    .search-bar input{
       width: 270px;
    }
    .search-bar{
        margin-left: 20px;
    }


}

/***** Desktop ****/
@media(min-width: 998px){
    /***** Detalles del producto ****/
    .vistas{
        margin: 0;
        display: flex;
        position: relative;
    }
    .columna_vistas{ 
        display: flex;
        flex-direction: column;
        width: 20vh;
        height: 40vh;
        margin-left: 2%;
    }
    .columna_vistas img{
        height: 30%;
        margin-bottom: 10px;
    }
    .vista_principal {
        display: flex;
    }
    .vista_principal img{
        width: 70%;
        height: 80%;
        top: 15px;
        right: 15px;
    }
    .relacionados{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        display: flex;
        width: 100vw;
        justify-content: space-around;
    }
    .relacionados article{
        box-sizing: border-box;
        width: 25%;
        background-color: #3A5683;
    }
    .relacionados article h3{
        padding: 0;
        font-size: 7px;
        text-align: left;
    }
    .relacionados article img{
        height: 50%;
        padding: 1px;
    }
    .relacionados article h4{
        color: red;
        font-size: 7px;
        text-align: right;
        margin-top: 20%;
    }
    .content-instalations{
        width: 22%;
    }
    .content-product{
        width: 22%;
    }
   .head-conteiner{
       display: inline-flex;
   }
   /*** Search bar***/
   .search-bar{
       width: 500px;
       max-width: 550px;
       text-align: left;
   }
   .search-bar input{
        width: 300px;
    }
}