* { /* Normalizacion*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

/*********** Header ************/
header{
    background-color: rgb(42, 123, 216);
}

#logo{ /*Imagen de logo*/
    width: 200px;
    height: 80px;
}

/*Barra de búsqueda*/
.search-bar{  
    margin: auto;
    text-align: center;
    width: 350px;
}
.search-bar #search-i{
    font-size: 90%;
    color: black;
    background-color: white;
    padding: 4px;
    height: 100%;
}

.search-bar input{
    font-size: 90%;
    color: black;
    padding: 2px;
    width: 220px
}

/*Menu para smartphones*/
#menu{
    font-size: 100%;
    color: black;
    background-color: white;
    padding: 4px;
    width: 40px;
    height: 100%;
    margin-left: 5px;
    text-align: center;
    border-radius: 5px;
}

.main-img{
    text-align: center;
}

/*Menu pra tablets y pc*/
.menu-options{
    display: none;
}
.menu-options ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-options a{
    text-decoration: none;
    color: #222222;

    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}
/* Icono de cuenta y carrito*/
.acc-icon{
    width: 40px;
    text-align: center;
}
.acc-icon i{
    font-size: 100%;
    color: white;
    margin-right: 5px;
}
/****/
.acc-cart-icon{
    display: none;
}
.acc-cart-icon{
    margin-top: 25px;
    margin-right: 20px;
}
.acc-cart-icon i{
    font-size: 35px;
    color: white;
    margin-right: 15px;
}
/* Logo */
#company-logo{
    width: 35vw;
    height: 80px;
}
.upper-objects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* Seacrh Bar */
.search-conteiner{
    margin-top: 20px;
    display: inline-block;
    position: relative;
    width: 60vw;
}

.search-conteiner i{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 10px;
    font-size: 1.2rem;
}
.search-p-bar input{
    font-size: 0.8rem;
    border-radius: 30px;
    padding-top: 8px;
    padding-left: 10px;
    padding-bottom: 8px;
    padding-right: 30px;
    width: 100%;
    color: black;
}
/* / Search Bar */

 /* hover Links*/
 /* Header */
.upper-objects li:hover i{
     color: rgba(109, 0, 128, 1)
}
.upper-objects li:hover a{
    color: rgba(109, 0, 128, 0.3);
}
.menu-options li:hover i{
    color: rgba(109, 0, 128, 1)
}
.menu-options li:hover a{
   color: rgba(109, 0, 128, 0.3)
}
/* Home */
#section-offers a:hover .title{
    color: #000000;
}

#section-products a:hover .title{
    color: #000000;
}
/*/Home*/
/* /hover links */
.err-404-conteiner{
    width: 100vw;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    background-color: #8a8a8ab4;
}
.err-404-conteiner  h1{
    font-size: 250px;
    font-weight: bold;
}
.err-404-conteiner .main-text{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/* User Options */
.upper-objects ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.upper-objects a{
    text-decoration: none;
    font-size: 0.8rem;
    color:#000000;
    font-weight: bold;
}
.upper-objects i{
    color:#000000;
}
.upper-objects li{
    margin-right: 5vw;
}


/*User logged info */
.user-div-info{
    width: 100px;
    height: 20px;
    position: relative;
}
.user-div-info img{
    width: 30px;
    height: 100%;
    margin-right: 10px;
}
.user-div-info span{
    font-size: 0.8rem;
    font-weight: bold;
    position: absolute;
    top: 5px;
}
/*perfil*/
.profile_container{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    display: flex;

    padding: 30px;
    background-color: #c2c2c2;
    border-radius: 25px;
    border: solid 4px rgba(255, 255, 255, 0.3);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 5px 5px 7px 7px rgba(255, 255, 255, 0.5);
    /*margin: 40px auto;*/
    width: 80%;
}
.profile_img{
    width: auto;
    border-radius: 25px;
}
.profile_info{
    font-size: 100%;
    font-weight: bold;
    margin-left: 10%;
}

/* /User logged */
/* /User Options  */

/*********** /Header ************/


/*********** Footer ************/

footer{
    background-color: rgb(211, 46, 46);
}
img{
    width: 100%;
}
.options-footer{
    display: flex;
    justify-content: space-around;
}
.options-footer ul{
    list-style: none;
    margin: 0px;
    padding: 0;
}

.rights-reserve{
    margin-left: 10px;

}
/*********** Fin Footer ************/


/****************** Conteido Principal Home ******************/
body{
    background-color: #aab6adb4;
    font-family: 'Roboto Mono', monospace;
}
/*Ofertas*/
.content-offers{
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 20px;
}
.content-offers .title{
    font-size: 1rem;
    font-weight: bold;
}
.content-offers .discount{
    text-align: center;
    background-color: rgb(12, 184, 12);
    width: 90px;
    margin-top: 2%;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
.price{
    margin-top: 5%;
}
.content-offers img{
    width: 100%;
    height: 280px;
    margin-bottom: 20px;
}
.content-offers .old-price{
    margin-right: 20px;
    font-size: 1rem;
    color:#222222;
    text-decoration: line-through;
    font-weight: bold;
}
.content-offers .new-price{
    font-size: 2rem;
    color:#000000;
    font-weight: bold;
}
.content-offers a{
    display: block;
    color:rgb(42, 123, 216);
    text-decoration: none;
}

/*Productos más vendidos*/
.content-product{
    padding: 10px;
    background-color: white;
    margin:10px;
    border-radius: 20px;
}
.content-product .title{
    font-size: 1rem;
    font-weight: bold;
}

.content-product .sales{
    display: inline-block;
    text-align: center;
    background-color: #aab6adb4;
    width: 90px;
    margin-top: 2%;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
.price{
    margin-top: 5%;
}
.content-product img{
    width: 100%;
    height: 280px;
    margin-bottom: 20px;
}
.content-product .new-price{
    font-size: 2rem;
    color:#000000;
    font-weight: bold;
}
.content-product .vendidos{
    font-size: 1rem;
    font-weight: bold;
    color: #222222;
}
.content-product a{
    display: block;
    color:rgb(42, 123, 216);
    text-decoration: none;
}


h2,h3,h4{
    padding-left: 20px;
}

#section-products{
    padding: 25px;
    background-color: #3A5683;
}

#section-offers{
    background-color: #3A5683;
    padding: 25px;
}

#section-offers article{
    height: 450px;
    max-height: 480px;
}

#section-products article{
    height: 480px;
    /*max-height: 480px;*/
}
/* Mostrar Más ofertas*/
#section-offers #more-offers{
    background-color: rgb(22, 21, 21);
    height: 200px;
}

#more-offers a{
    height: 100%;
    width: 100%;
    text-decoration: none;
}

#section-offers #more-offers div{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#section-offers #more-offers span{
    color: white;
    font-size: 28px;
}

/* Mostrar Más Productos*/
#section-products #more-products{
    background-color: rgb(22, 21, 21);
    height: 200px;
}

#section-products #more-products div{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#section-products #more-products span{
    color: white;
    font-size: 28px; 
}
#section-products #more-products a{
    height: 100%;
    width: 100%;
    text-decoration: none;
}

#underline{
    text-decoration: underline; 
    font-size: 26px; 
}

/*detalles del producto*/
.vistas{
    margin: 0;
    display: flex;
    position: relative;
}
.columna_vistas{ /*cambiar a display flex en otro breakpoint*/
    display: none; 
    flex-direction: column;
    width: 10vh;
    height: 30vh;
    margin-left: 2%;
}
.columna_vistas img{
    height: 30%;
    margin-bottom: 10px;
}
.vista_principal {
    display: flex;
}
.vista_principal img{
    margin: auto;
    width: 70%;
    height: 80%;
    top: 15px;
    right: 15px;
}
.stars{
    padding-left: 5px;
}
.stars i{
    margin-left: -5px;
}
.info_compra{
    display: flex;
    flex-direction: column;
}
.info_compra_header{
    justify-content: start;
}
.info_compra_header h2{
    padding: 0;
    text-align: left;
    font-size: 10px;
}
.info_compra_header img{
    width: 90px;
    height: 4vh;
}
.info_pago{
    display: flex;
}
.info_pago_der{
    width: 100%;
}
.info_pago_der h1{
    text-align: center;
}
.info_pago_der .botones{
    display: flex;
    flex-direction: column;
}
.Subt_relacionados{
    margin-top: 5px;
    margin-bottom: 5px;
}
.relacionados{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    height: 200px;
    justify-content: space-around;
}
.relacionados article{
    box-sizing: border-box;
    width: 25%;
    background-color: #3A5683;
}
.relacionados article h3{
    padding: 0;
    font-size: 11px;
    text-align: left;
}
.relacionados article img{
    height: 50%;
    padding: 1px;
}
.relacionados article h4{
    color: red;
    font-size: 20px;
    text-align: right;
    margin-top: 17%;
}
.descripción{
    display: flex;
}

/*** Formulario de registro **/
#register-form{
    padding: 60px;
    padding-bottom: 0px;
    background-color: #c2c2c2;
    border-radius: 25px;
    border: solid 4px rgba(255, 255, 255, 0.3);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
   box-shadow: 5px 5px 7px 7px rgba(255, 255, 255, 0.5);
    margin: 40px auto;
    width: 80%;
}
#register-form #form-title{
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    margin-bottom: 75px;
}

#register-form input{
    margin-bottom: 10px;
    width: 100%;
    padding: 10px 15px;
    border-radius: 15px;
}

#register-form .profile select{
    height: 40px;
}

#register-form p{
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
}

#register-form input{
    border: 2px solid black;
}
#register-form .profile {
    margin-bottom: 10px;
}

#register-form .btts input{
    width: 40%;
    height: 40px;
    font-size: 18px;
    margin-top: 30px;
    background-color: #24a0ed ;
    color: white;
    padding: 6px 6px;
    border-radius: 30px;
    border: 0px;
}
#register-form .btts{
    text-align: center;
}

#register-form input:hover, textarea:hover{
    background-color: rgb(223, 223, 223);
}
#register-form #submit:hover, #clear:hover{
    background-color: #44ad64;
}
#register-form #clear:hover{
    background-color: #44ad64;
}


#register-form #redirect{
    padding-bottom: 20px;
    margin-bottom: 10px;
    text-align: right;
    margin-top: 20px;
}
#register-form #redirect p{
    font-size: 20px;
}
#register-form .main, .main2, .main3{
    margin-bottom: 30px;
}

/* Login form */
.errors{
    color: red
}
#login-form{
    padding: 60px;
    padding-bottom: 0px;
    background-color: #c2c2c2;
    border-radius: 25px;
    border: solid 4px rgba(255, 255, 255, 0.3);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 5px 5px 7px 7px rgba(255, 255, 255, 0.5);
    margin: 40px auto;
    width: 60%;
}
#login-form #form-title{
    font-size: 22px;
    margin-bottom: 75px;
}
#login-form div p{
    font-weight: bold;
    margin-bottom: 5px;
}
#login-form input{
    margin-bottom: 10px;
    width: 100%;
    padding: 10px 15px;
    border-radius: 15px;
}

#login-form .btts{
    text-align: center;
}
#login-form .btts input{
    width: 40%;
    height: 40px;
    font-size: 18px;
    margin-top: 30px;
    background-color: #24a0ed ;
    color: white;
    padding: 6px 6px;
    border-radius: 30px;
    border: 0px;
}

#login-form-form input:hover, textarea:hover{
    background-color: rgb(223, 223, 223);
}
#login-form #submit:hover, #clear:hover{
    background-color: #44ad64;
}
#login-form #clear:hover{
    background-color: #44ad64;
}

#login-form #text-o{
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 15px;
    margin-bottom: 15px;
}
#login-form #btt-google{
    background-color: white;
    width: 40%;
}

#login-form .bttn-google{
    text-align: center;
    width: 100%;
    padding-bottom: 30px;
}
#login-form #btt-g{
    padding: 20px;
    width: 50%;
    border-radius: 20px;
}

#login-form .remember{
    margin-top: 15px;
    text-align: center;
    width: 100%;
}

#login-form .remember input{
    padding: 0;
    width: 20px;
    border-radius: 0;
}


/* Fin login */

/* Formulario para crear-editar Productos*/
#crea-edit-product{
    padding: 60px;
    background-color: #c2c2c2;
    margin: 40px auto;
    width: 80%;
    border-radius: 25px;
    border: solid 4px rgba(255, 255, 255, 0.3);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
   box-shadow: 5px 5px 7px 7px rgba(255, 255, 255, 0.5);
}
#crea-edit-product #pro-title{
    text-align: center;
    font-size: 28px;
    margin-bottom: 75px;
}
#crea-edit-product input{
    margin-bottom: 10px;
    width: 100%;
    padding: 10px 15px;
    border-radius: 15px;
}
#crea-edit-product p{
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
}

#crea-edit-product textarea{
    width: 100%;
    padding: 10px 15px;
    border-radius: 15px;
}
#crea-edit-product  input, textarea{
    border: 2px solid black;
}
#crea-edit-product .price input{
    width: 50%;
}
#crea-edit-product .quantity input{
    width: 50%;
}
#crea-edit-product .price span{
    font-size: 18px;
    font-weight: bold;
}
#crea-edit-product .btts input{
    width: 40%;
    height: 40px;
    font-size: 18px;
    margin-top: 30px;
    background-color: #24a0ed ;
    color: white;
    padding: 6px 6px;
    border-radius: 30px;
    border: 0px;
}
#crea-edit-product .btts{
    text-align: center;
}

#crea-edit-product input:hover, textarea:hover{
    background-color: rgb(223, 223, 223);
}
#crea-edit-product #submit:hover, #clear:hover{
    background-color: #44ad64;
}
#crea-edit-product #clear:hover{
    background-color: #44ad64;
}
#delete:hover{
    background-color: #F5340B;
}
#crea-edit-product img{
    width: 150px;
    height: 150px;
}
#crea-edit-product .category input{
    margin-bottom: 5px;
    width: 50px;
}
#crea-edit-product select{
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
}
#crea-edit-product .discount input{
    width: 50%;
    border: 2px green solid;
}
#crea-edit-product .discount span{
    font-size: 18px;
    font-weight: bold;
}

/*** Carrito **/

.flexCarrito{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
.tituloCarrito{
    font-size: 30px;
    padding-bottom: 20px;
    font-weight: bold;
}
.productoDeCarrito{
    background-color:aquamarine;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    
    flex-wrap: wrap;
}

.productoDeCarrito:hover{
    background-color: #3A5683;
}
.carritoImagen{
    display: inline-block;
    width: 100%;
}
.carritoDetalles,.carritoPrecio{
    display: inline-block;
    width: 50%;
}
.nombreProducto{
    font-weight: bold;
}
 .detallesProducto{
text-decoration: underline;
 }
.cantidadProducto{

}
.precioProducto{
color:red;
}
.eliminarProducto{
    background-color: red;
}

.comprarCarrito{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: blueviolet;
    padding-bottom: 15px;
}

.comprarCarrito section{
    width: 50%;
}

.comprar{
    background-color: black;
    color:blanchedalmond;
}
.eliminar{
    background-color: red;
}
/*** Listado de productos ***/
#products-section{
    background-color: white;
    width: 80%;
}

main #products-section{
    margin: 25px auto;
}
.product-conteiner img{
    max-height: 200px;
    width: 100%;
}

.product-conteiner{
    position: relative;
    padding: 10px;
    border-bottom: #aab6adb4 4px solid;
}

.product-conteiner p{
    margin-bottom: 10px;
}

.product-conteiner .title{
    font-weight: bold;
    font-size: 1rem;
}

.product-conteiner .description{
    font-size: 12px;
}

.product-conteiner .products-sold{
    bottom: 10px;
    height: 30px;
    width: 140px;
    text-align: center;
    background-color: #aab6adb4;
    font-size: 12px;
    padding: 3px;
    padding-top: 2px ;
    border-radius: 5px;
    margin-top: 10px;
}
.product-conteiner .old-price{
    margin-right: 5px;
    font-size: 1rem;
    color: #222222;
    text-decoration: line-through;
    font-weight: bold;
}
.product-conteiner .final-price{
    font-size: 2rem;
    color: black;
    font-weight: bold;
}
.product-conteiner .price{
    text-align: right;
}

.product-conteiner .final-price{
    margin-top: 5%;
    font-weight: bold;
}

.product-conteiner .discount{
    text-align: center;
    background-color: rgb(12, 184, 12);
    width: 90px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    font-size: 1rem;

    margin-top: 2%;

}
.product-conteiner a{
    display: block;

    color:rgb(42, 123, 216);
    text-decoration: none;
}
.product-conteiner .products-sold{
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
.product-conteiner .description{
    color: black;
    font-weight: bold;
    font-size: 0.8rem;
}
#options-header div{
    width: 150px;
    margin-left: 30px;
    margin-top: 10px;
    padding: 2px;
    text-align: center;
    background-color: white;
}
#products-header-topic{
    padding: 10px;
    font-size: 14px;
}
#products-header-topic .results{
    color: green;
    font-weight: bold;
}
#products-header-topic .category{
    font-weight: bold;
    text-decoration: underline;
}
#products-header-topic span{
    margin-right: 20px;
}
.paggination {
    margin-top: 20px;
    padding-left: 20px;
}

.paggination input{
    width: 110px;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
   
}

.paggination .title strong{
    font-size: 1.1rem;
}
.paggination .title{
    margin-bottom: 20px;
}
.paggination .title span{
    margin-left: 10px;
    font-weight: bold;
    font-size: 0.8rem;
}
/**********   Media queries            *********/
/* Version de Tablet ó Smartphone acostado*/
@media(min-width: 768px){

    /* */
    #company-logo{
        height: 65px;
        width: 150px;
    }
    /* User Options */
    .upper-objects  ul{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        text-decoration: none;
    }
    .upper-objects li{
        margin-right: 0;
        color: #000000;
     }
     .upper-objects a{
        color: #000000;
        font-weight: bold;
        font-size: 0.8rem;
     }
    .upper-objects .user i{
        color: black;
        font-size: 16px;
        margin-right: 10px;  
    }
    .upper-objects .user {
      margin-top: 20px;

    }
    /* first menu options conteiner */
    .upper-objects{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    /*/first menu*/
    /* /User options */

    /* Seacrh Bar */
    .search-conteiner{
        width: 320px;
        margin-top: 15px;
    }
    .search-conteiner i{
        right: 15px;
        font-size: 1.3rem;
    }
    .search-p-bar input{
        font-size: 1rem;
        padding-top: 7px;
        padding-left: 30px;
        padding-bottom: 7px;
        padding-right: 40px;
    }
    .upper-objects{
        display: flex;
        flex-wrap: wrap;
    }
    .upper-objects a{
        text-decoration: none;
    }
    /*/seaech bar*/

    /* header */
    #menu{
        display: none;
    }
    .main-img img{
        width: 400px;
        max-width: 450;
    }
     /* Menu Options */
    .menu-options{
        padding: 0 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .menu-options ul{
        text-decoration: none;
        display: flex;
       
    }
    
    .menu-options li{
       margin-right: 11px;
    }
    .menu-options a{
        font-size: 0.9rem;
        font-weight: bold;
    }
    .menu-options .user i{
        color: black;
        font-size: 24px;
        margin-right: 10px;
    }
    .menu-options .first{
        margin-right: 20px;
    }
    .acc-cart-icon{
        display: block;
    }
    .acc-cart-icon i{
        color: black;
        font-size: 24px;
    }
    /** Ofertas **/
    #section-offers{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .content-offers{
        width: 45%;
    }

    /* Altura de cada articulo del home */
    #section-products article, #section-offers article{
        height: 450px;
        max-height: 480px;
    }
    
    /*** Products ***/

    #section-products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .content-product{
        width: 45%;
    }

    /*** Search Bar ****/
    .search-bar{
        width: 350px;
        max-width: 400px;
        text-align: left;
    }
    .search-bar input{
       width: 270px;
    }
    .search-bar{
        margin-left: 20px;
    }
    
    /* Carrito */
    .carritoImagen{
        display: inline-block;
        width: 33%;
    }
    .carritoDetalles,.carritoPrecio{
        display: inline-block;
        width: 33%;
    }
    /*Img max-height*/
    body img{
        max-height: 300px;
    }

    /* Listas de productos */
    .product-conteiner img{
        height: 170px;
        width: 170px;
    }
    .product-conteiner p{
        margin-bottom: 0;
    }
    .product-conteiner .title{
        position: absolute;
        top: 10px;
        left: 200px;
        font-weight: bold;
        font-size: 14px;
    }
    .product-conteiner .description{
        position: absolute;
        top: 80px;
        left: 200px;
        font-size: 12px;
    }
    .product-conteiner .products-sold{
        position: absolute;
        top: 40px;
        left: 200px;
        height: 25px;
        width: 150px;
        margin-top: 0;
        background-color: #aab6adb4;
        font-size: 1rem;
        padding: 3px;
        border-radius: 5px;
    }
    .product-conteiner .price{
        position: absolute;
        bottom: 30px;
        right: 50px;
        font-weight: bold;
    }
    .product-conteiner .discount{
        position: absolute;
        bottom: 30px;
        left: 200px;
    }

    /*User logged info */
.user-div-info{
    width: 130px;
    height: 20px;
    position: relative;
}

.user-div-info span{
    font-size: 0.9rem;
    font-weight: bold;
    position: absolute;
    top: 2px;
}
/* /User logged */
    
    

}

/***** Desktop ****/
@media(min-width: 998px){

    /* User options  */
    .upper-objects li{
        margin-right: 10px;
     }
     .upper-objects a{
        font-size: 1rem;
     }
     .upper-objects ul{
         padding-right: 20px;
     }
     .upper-objects{
        margin: auto;
        max-width: 1281px;
    }
    /* /User Options */

    /*  Search Bar */
    .search-conteiner{
        width: 450px;
    }
    /* /Search Bar */
    
    .menu-options{
        margin: auto;
        max-width: 1281px;
    }
    .menu-options li{
        margin-right: 20px;
     }
     .menu-options a{
         font-size: 1.1rem;
         font-weight: bold;
     }
     .menu-options .user i{
        color: black;
        font-size: 28px;

        margin-right: 10px;
     }
     
    /* Altura de cada articulo del home */
    #section-products article, #section-offers article{
        height: 350px;
        max-height: 350px;
    }
    .content-offers .old-price{
        margin-right: 7px;
        font-size: 0.8rem;
    }
    .content-offers .new-price{
        font-size: 1.3rem;
    }
    .content-product .old-price{
        margin-right: 7px;
        font-size: 0.8rem;
    }
    .content-product .new-price{
        font-size: 1.3rem;
    }
    /***** Detalles del producto ****/
    .vistas{
        margin: 0;
        display: flex;
        position: relative;
    }
    .columna_vistas{ 
        display: flex;
        flex-direction: column;
        width: 20vh;
        height: 40vh;
        margin-left: 2%;
    }
    .columna_vistas img{
        height: 30%;
        margin-bottom: 10px;
    }
    .vista_principal {
        display: flex;
    }
    .vista_principal img{
        width: 70%;
        height: 80%;
        top: 15px;
        right: 15px;
    }
    .relacionados{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        display: flex;
        width: 100vw;
        justify-content: space-around;
    }
    .relacionados article{
        box-sizing: border-box;
        width: 25%;
        background-color: #3A5683;
    }
    .relacionados article h3{
        padding: 0;
        font-size: 7px;
        text-align: left;
    }
    .relacionados article img{
        height: 50%;
        padding: 1px;
    }
    .relacionados article h4{
        color: red;
        font-size: 7px;
        text-align: right;
        margin-top: 20%;
    }
    .content-offers{
        width: 22%;
    }
    .content-product{
        width: 22%;
    }
   
    /**** Register form *****/
    #register-form{
        max-width: 815px;
        padding-left: 100px;
        padding-right: 100px;
    }
    /* Create product */
    #crea-edit-product{
        max-width: 815px;
        padding-left: 100px;
        padding-right: 100px;
    }
    #crea-edit-product .price input{
        width: 30%;
    }
    #crea-edit-product .discount input{
        width: 30%;
    
    }
    #crea-edit-product .quantity input{
        width: 30%;
    }
    /*Img max-height*/
    body img{
        max-height: 200px;
    }

    /* Listas de productos */
    #products-section{
        background-color: white;
        max-width: 870px;
    }
    .product-conteiner img{
        height: 150px;
        width: 150px;
    }
    .product-conteiner p{
        margin-bottom: 0;
    }
    .product-conteiner .title{
        position: absolute;
        top: 10px;
        left: 170px;
    }
    .product-conteiner .description{
        position: absolute;
        top: 70px;
        left: 170px;
    }
    .product-conteiner .products-sold{
        position: absolute;
        bottom: 30px;
        left: 170px;
        height: 25px;
        width: 100px;
        background-color: #aab6adb4;
        font-size: 12px;
        padding: 3px;
        border-radius: 5px;
    }
    .product-conteiner .price{
        position: absolute;
        bottom: 20px;
        right: 50px;
        font-weight: bold;
    }
    .product-conteiner .discount{
        position: absolute;
        left: 170px;
        bottom: 20px;
    }
}
/* Desktop v2 */
@media(min-width: 1200px){
    #company-logo{
        height: 80px;
        width: 200px;
    }
    /* User options  */
    .upper-objects li{
        margin-right: 20px;
     }
     .upper-objects a{
        font-size: 1.3rem;
     }
     .upper-objects ul{
        padding-right: 20px;
     }
     .upper-objects{
        margin: auto;
        max-width: 1400px;
    }
    /* /User Options */

    /*  Search Bar */
    .search-conteiner{
        width: 550px;
        margin-top: 15px;
    }
    .search-conteiner input{
       font-size: 1.1rem;
    }
    /* /Search Bar */
    
    .menu-options{
        margin: auto;
        max-width: 1400px;
    }
    .menu-options li{
        margin-right: 20px;
     }
     .menu-options a{
         font-size: 1.3rem;
         font-weight: bold;
     }
     .menu-options .user i{
        color: black;
        font-size: 20px;

        margin-right: 10px;
     }

   
     /* Formulario crear producto */

     #crea-edit-product input{
         width: 170px;
     }
     #crea-edit-product .name{
        width: 275px;
    }
    #crea-edit-product .name input{
        width: 100%;
    }
    #crea-edit-product .category{
        width: 170px;
    }
    #crea-edit-product select{
        width: 100%;
    }
    #crea-edit-product .price{
        margin: 0;
    }

    #crea-edit-product .price input{
        width: 140px;
    }
    #crea-edit-product .discount input{
        width: 140px;
    }
    #crea-edit-product .quantity input{
        width: 140px;
    }
    #crea-edit-product .description{
        width: 100%;
    }
    #crea-edit-product .main{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #crea-edit-product .main2{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #crea-edit-product textarea{
        height: 150px;
    }

    #crea-edit-product .pro-img{
        margin-top: 20px;
    }
    #crea-edit-product .pro-img input{
        width: 350px;
    }

    #crea-edit-product .main, .main2{
        margin-bottom: 30px;
    }

    #crea-edit-product .description{
        margin-bottom: 30px;
    }
    #crea-edit-product div p{
        font-size: 0.9rem;
        font-weight: bold;
        margin-bottom: 4px;
    }
    /* Fin formulario producto*/

    /* Formulario de registro usuarios */
    
    #register-form div input{
        width: 100px;
    }
    #register-form .first-name, .last-name-pat{
        width: 210px;
    }
    #register-form .first-name input{
        width: 100%;
    }

    #register-form .email{
        width: 280px;
    }
    #register-form .email input{
        width: 100%;
    }

    #register-form  .last-name-pat input{
        width: 100%;  
    }
    #register-form  .age {
        width: 150px;  
    }
    #register-form  .age input {
        width: 100%;  
    }

    #register-form .profile-photo{
        width: 350px;
    }
    #register-form .profile-photo input{
        width: 100%;
    }

    #register-form .password{
        width: 280px;
    }
    #register-form .password input{
        width: 100%;
    }

    #register-form .main, .main2, .main3{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #register-form .main, .main2, .main3{
        margin-bottom: 10px;
    }
    #register-form #redirect p{
        font-size: 1rem;
    }
    #register-form .btts{
        margin-top: 50px;
    }

    #register-form div p{
        font-size: 0.9rem;
        font-weight: bold;
        margin-bottom: 4px;
    }
    /* Fin formulario registro*/
    /* Login */

    #login-form{
        max-width: 750px;
    }
    #login-form div input{
        width: 450px;
    }
    #login-form #form-title{
        font-size: 1rem;
        font-weight: bold;
    }

    #login-form .email{
        padding-left: 80px;
    }
    #login-form .password{
        padding-left: 80px;
    }
    #login-form div p{
        font-weight: bold;
        text-align: left;
        font-size: 0.9rem;
    }

    /*User logged info */
.user-div-info{
    width: 150px;
    height: 30px;
    position: relative;
    margin-right: 10px;
}
.user-div-info img{
    width: 30px;
    height: 100%;
}
.user-div-info span{
    font-size: 1.3rem;
    font-weight: bold;
    position: absolute;
    top: 1px;
}
/* /User logged */
     
}