 <!-- pie de página -->
 <footer>
    
    <img src="/images/Logo_6_sr.svg" id="company-logo">
    <!-- Opciones del footer-->
    <div class="options-footer">
        
        <ul>
            <h4>¿Quiénes Somos?</h4>
            <br>
            <li><a href="#">Sobre nosostros</a></li>
            <li><a href="#">Términos y condiciones</a></li>
            <li><a href="#">Políticas</a></li>
            <li><a href="#">Formas de pago</a></li>
        </ul>
        <ul>
            <h4>Contacto</h4>
            <br>
            <li><a href="#">55 555 555</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
        </ul>
    </div>
    <br>
    <div class="rights-reserve">@Todos los derechos reservados</div>
</footer>