<header>
    <!-- Contenedor de elementos del header  -->
    <div class="head-conteiner">
    <div class="upper-objects">
        <a href="/"><img src="/images/BigCommerce-logo-dark.svg" id="company-logo"> </a>
        <form class="search-p-bar" action="/productos/search-products" method="GET">
            <div class="search-conteiner">
                <input type="text" id="search" name="search" placeholder="Buscar productos por título, categoria o descripción."><i class="fas fa-search" id="search-i"></i>
            </div>
        </form>

        <ul class="user">
            <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="/signup">Crear <i class="fas fa-user"></i></a></li>
            <li><a href="/carrito">Carrito <i class="fas fa-shopping-cart"></i></a></li>
        </ul>
    </div>

    <!-- Mennu lateral  -->
    <i class="fas fa-bars" id="menu"></i>
    </div>
    <!-- Opciones de categoria -->
    <div class="menu-options">
        <ul class="main-p">
            <li><a href="/">Home <i class="fas fa-home"></i></a></li>
            <li><a href="/productos/offerts">Ofertas <i class="fab fa-hotjar"></i></i></a></li>
        </ul>
        <ul>
            <li><a href="/productos/categoria/tv">TV</a></li>
            <li><a href="/productos/categoria/audio">Audio</a></li>
            <li><a href="/productos/categoria/cables">Cables</a></li>
            <li><a href="/productos/categoria/herramientas">Herramientas</a></li>
            <li><a href="/productos/categoria/smartphones">Smartphones</a></li>
            <li><a href="/productos/categoria/tablets">Tablets</a></li>
            <li><a href="/productos/categoria/computadoras">Computadoras</a></li>
        </ul>
    </div>
    <br>
</header>