<header>

<!-- Barra de navegacion -->
<nav class="nav-bar">
<!-- Contenedor de elementos del header  -->
<div class="head-conteiner">
    <menu class="upper-objects">
        <!-- si el usuario está loggeado y es usuario  -->
        <% if(locals.isLogged || locals.isLogged && locals.user.user_role === "user") {%>
            <a href="/"><img src="/images/BigCommerce-logo-dark.svg" id="company-logo"> </a>
        <% } else {%>
            <img src="/images/BigCommerce-logo-dark.svg" id="company-logo">
        <% } %>
        
        <form class="search-p-bar" action="/productos/search-products" method="GET">
            <div class="search-conteiner">
                <input type="text" id="search" name="search" placeholder="Buscar productos por título, categoria o descripción."><i class="fas fa-search" id="search-i"></i>
            </div>
        </form>
        <div class="avatar"></div>
        <ul class="user">
            <% if(locals.isLogged){%>

                <% if(locals.user.first_name.length > 10){%>
                    <li><a href="/users/perfil"><div class="user-div-info"><img src="<%=locals.user.profile_img%>" class='profile_img'> <span><%=locals.user.first_name.substring(0, 10)%>..</span></div></a></li>
                <%}else{%>
                    <li><a href="/users/perfil"><div class="user-div-info"><img src="<%=locals.user.profile_img%>"> <span><%=locals.user.first_name%></span></div></a></li>
                <%}%>
                <li><a href="/users/logout">Salir <i class="fas fa-sign-out-alt"></i></a></li>

                <!--en caso de ser usuario normal-->
                <%if(locals.user && locals.user.user_role === "user"){%>
                    <li><a href="/users/carrito">Carrito <i class="fas fa-shopping-cart"></i></a></li>
                    
                <!--en caso de ser vendedor-->
                <%}else if(locals.user && locals.user.user_role === "seller"){%>
                    <li><a href="/productos/crear">Crear producto <i class="fas fa-shopping-cart"></i></a></li>
                <%}%>
            <% }else{%>
                <li><a href="/users/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/users/signup">Crear <i class="fas fa-user"></i></a></li>
            <% } %>
        </ul>
    </menu>

    <!-- Mennu lateral  -->
    <i class="fas fa-bars" id="menu"></i>
    </div>
    <!-- Opciones de categoria -->
    <menu class="menu-options">

        <!--en caso de ser usuario normal-->
        <% if(!locals.isLogged || locals.isLogged && locals.user.user_role === "user"){%>
            <ul class="main-p">
                <li><a href="/">Home <i class="fas fa-home"></i></a></li>
                <li><a href="/productos/offerts">Ofertas <i class="fab fa-hotjar"></i></i></a></li>
            </ul>
            <ul>
                <li><a href="/productos/categoria/tv">TV</a></li>
                <li><a href="/productos/categoria/audio">Audio</a></li>
                <li><a href="/productos/categoria/cables">Cables</a></li>
                <li><a href="/productos/categoria/herramientas">Herramientas</a></li>
                <li><a href="/productos/categoria/smartphones">Smartphones</a></li>
                <li><a href="/productos/categoria/tablets">Tablets</a></li>
                <li><a href="/productos/categoria/computadoras">Computadoras</a></li>
            </ul>
        <!--en caso de ser vendedor-->
        <% }else if(locals.isLogged && locals.user.user_role === "seller"){%>
                <ul>
                    <li><a href="/productos/my-products/">Mis productos <i class="fas fa-shopping-cart"></i></a></li>
                    <li><a href="/users/seller/sales/">Ventas <i class="fas fa-chart-bar"></i></a></li>
                </ul>
        <% } %>
        
    </menu>
</nav>
<br>
</header>