<!DOCTYPE html>
<html lang="en">
<!-- Vista parcial del head -->
<%- include('../partials/head.ejs') %>
<body>
    <div class="err-404-conteiner">
        <div class="main-text">
            <h1>404</h1>
            <h2>Error, el recurso solicitado no fue encontrado en el servidor. Lamentamos el inconveniente </h2>
        </div>
    
    </div>
</body>
</html>