<!DOCTYPE html>
<html lang="en">

<!-- Vista parcial del head-->
<%- include('../partials/head.ejs') %>


<body>
   
    <!-- Vista parcial del header -->
    <%- include('../partials/header.ejs') %>


    <main>
        
        <form id="login-form" action="/users/login" method="POST">
            <p id="form-title">Inicia sesión o <a href="/users/signup">Crea Cuenta</a></p>
            
            <div class="email">
                <p>Email</p>
                <input type="email" id="email" name="email" placeholder="Ingresa tu correo electrónico" required>
            </div>
            
            <div class="password">
                <p>Contraseña</p>
                <input type="password" id="password" name="password" placeholder="Contraseña" required>
            </div>
            <br>
            <%if(locals.passwordError || locals.emailError){%>
                <p class="errors">Correo o contraseña incorrectos</p>
            <%}%>

            <div class="remember">
                <input type="checkbox" name="remember" id="remember"> Recordarme
            </div>
    
             <div class="btts">
                <input type="submit" value="Ingresar" id="Ingresar">
           </div>
           
           <p id="text-o">Ó</p>
      
           <div class="bttn-google">
            <button id="btt-g"><i class="fab fa-google"></i> Ingresa con google</button>
           </div>
  </div>
            
    
        </form>
    </main>
    
    <!-- Vista parcial del footer -->
    <%- include('../partials/footer.ejs') %>
</body>
</html>