<!DOCTYPE html>
<html lang="en">

<!-- Vista parcial del head -->
<%- include('../partials/head.ejs') %>
<body>
    <!-- Vista parcial del header -->
    <%- include('../partials/header.ejs') %>

    <main id="register-main">
        
        <form id="register-form">
            <p id="form-title">Registro</p>
            <p>Nombre</p>
            <div class="first-name">
                <input type="text" id="name" name="name" placeholder="Nombre(s)" required>
            </div>
            <div class="last-name-pat">
                <input type="text" id="last-p" name="last-p" placeholder="Apellido paterno" required>
            </div>
            <div class="last-name-mat">
                <input type="text" id="last-m" name="last-m" placeholder="Apellido materno" required>
            </div>
            <br>

            <p>Email</p>
            <div class="email">
                <input type="email" name="email" placeholder="Correo electrónico" required >
            </div>
            <br>

            <div class="fecha-nac">
                <p>Fecha de nacimiento</p>
                <input type="date" placeholder="Fecha de nacimiento" name="fecha-nac" required>
            </div>
            <br>

            <div class="address">
                <p>Domicilio</p>
               <textarea rows="3" placeholder="Dirección" name="domicilio" required></textarea>
            </div>
            <br>

            <div class="profile">
                <p>Elige un perfil</p>
                <div class="prof-1">
                    <input type="radio" name="profile" required> Vendedor
                </div>
               
                <div class="prof-2">
                    <input type="radio" name="profile" required> Cliente
                </div>
             </div>
             <br>

             <div class="password">
                <p>Foto de perfil</p>
                 <div class="foto">
                     <input type="file" placeholder="Selecciona una foto" accept=".jpg, .png, .PNG">
                 </div>
             </div>
             <br>
             
             <div class="password">
                <p>Contraseña</p>
                 <div class="input-pass">
                     <input type="password" placeholder="Contraseña" required>
                 </div>
                 <div class="confirm-pass">
                    <input type="password" placeholder="Confirma tu contraseña" required>
                </div>
             </div>
             <br>
    
             <div class="btts">
                <input type="submit" value="Enviar" id="submit">
                <input type="reset" value="Borrar" id="clear">
           </div>
        </form>
    </main>
    
    <!-- Vista parcial del footer -->
    <%- include('../partials/footer.ejs') %>
</body>
</html>