<!DOCTYPE html>
<html lang="en">

<!-- Vista parcial del head -->
<%- include('../partials/head.ejs') %>
<body>
    <!-- Vista parcial del header -->
    <%- include('../partials/header.ejs') %>

    <main id="register-main">
        
        <form id="register-form">
            <p id="form-title">Registro</p>

            <div class="main">
                
                <div class="first-name">
                    <p>Nombre</p>
                    <input type="text" id="name" name="name" placeholder="Nombre(s)" required>
                </div>
                <div class="last-name-pat">
                    <p>Apellido</p>
                    <input type="text" id="last-p" name="last-p" placeholder="Apellido" required>
                </div>

                <div class="age">
                    <p>Edad</p>
                    <input type="number" id="age" name="edad" placeholder="Tu edad" required>
                </div>

            </div>

            <div class="main2">
                <div class="email">
                    <p>Email</p>
                    <input type="email" name="email" placeholder="Correo electr칩nico" required >
                </div>

                <div class="profile">
                    <p>Tipo de cuenta</p>
                    <select name="profile" id="profile">
                        <option disabled selected>Selecciona un perfil</option>
                        <option value="user">Usuario </option>
                        <option value="seller">Vendedor</option>
                    </select>
                </div>
            </div>

            <div class="main3">
                <div class="password">
                    <p>Contrase침a</p>
                     <div class="input-pass">
                         <input type="password" placeholder="Contrase침a" required>
                     </div>
                 </div>

                 <div class="password">
                    <p>Confirma</p>
                     <div class="input-pass">
                         <input type="password" placeholder="Repite la contrase침a" required>
                     </div>
                 </div>
            </div>

            <div class="profile-photo">
                <p>Foto de perfil</p>
                <input type="file" placeholder="Selecciona una foto" accept=".jpg, .png, .PNG">
            </div>

            
             
          
             <div class="btts">
                <input type="submit" value="Enviar" id="submit">
                <input type="reset" value="Borrar" id="clear">
           </div>

           <br>

           <div id="redirect">
               <p>Ya tienes una cuenta? <a href="/login">Ingresa</a></p>
           </div>
        </form>
    </main>
    
    <!-- Vista parcial del footer -->
    <%- include('../partials/footer.ejs') %>
</body>
</html>